@import 'tailwindcss';

@keyframes progress {
  0% {
    width: 0%;
  }
  5% {
    width: 40%;
  }
  20% {
    width: 62%;
  }
  40% {
    width: 76%;
  }
  65% {
    width: 84%;
  }
  100% {
    width: 90%;
  }
}

header[data-fixed] {
  padding-inline-end: var(--removed-body-scroll-bar-size, 0px);
}

:root {
  --background: var(--color-gray-100);
  --foreground: var(--color-gray-900);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
}
